<!DOCTYPE html>
<html>

    
	
	<%- include('templates/header') -%>
	
	<section class="container grey-text">
		<h4 class="center">Add a picture</h4>
		<form class="white" class ="" id="uploadButton" action="add.ejs" method="POST" enctype="multipart/form-data">
			<!--label>Caption:</label-->
			<!--input type="text" name="caption"-->
			<label>Picture:</label>
			<input type="file" name="picture">
			<div class="center">
				<input type="submit" name="submit" value="submit" class="btn brand z-depth-0">
			</div>
		</form>
    </section>
    
    
	<%- include('templates/footer') -%>

</html>